
body{

    background-color: rgb(245, 241, 241);
}



.logo{
   
   margin-top: 1em;
    width: 31em;
    height: 15em;
    box-shadow: 3px;
}
.elementos{
    margin-top: 1em;
    width: 53.5em;
    height: 15em;
    margin-left: -1em;

}
.contenedor{
margin-top: 3em;

margin-left: 6em;
color: blue;

}
.subir{

    margin-top: -50em;
    margin-left: 40em;
}
#barra2{
   
    text-decoration: none;
   color: aliceblue;
    margin-left: 13em;
    font-size: 20px;
    padding: 0em;
    
   
    
}

#barra1{
    color: aliceblue;
    font-size: 20px;
}
#barra{
    margin-top: -2em;
    text-decoration: none;
   margin-top: -14em;
    margin-left: 46em;
     color: aliceblue;
     font-size: 20px;
    
}
#barra:hover {color: rgb(206, 201, 201);



}
#barra1:hover{color: rgb(206, 201, 201)

}

#barra2:hover{
    color: rgb(206, 201, 201)
}

#inspectora{
    border-radius: 10px;
    margin-left: 6em;
    width: 70em;
   
}


.white{

    background-color: white;
    margin-left: 10em;
    width: 62em;
    height: 73em;
    text-align: center;
    padding: 3em;
}
p{
    margin-top: 3em;
}

.atencion{
    width: 55em;
    height: 30em;
}
h1{
    color: rgb(35, 35, 99);
}
#t{

    width: 10em;
    height: 5em;
}
.pie{

    background-color: rgb(59, 59, 92);
    width: 84em;
    height: 15em;
}
h3{
    padding: 2em;
    margin-left: 13em;

}
#empresas{
margin-top: 2em;
margin-left: 10em;
width: 65em;
height: 30em;
}
.blanco{

    background-color: white;
    width: 70em;
    height: 70em;
    margin-left: 6em;
    margin-top: -30em;
}
.servicios{
    margin-top: 10em;
color: white;
    margin-left: 6em;
    
}
#tit{
    margin-top: 1em;
    color: rgb(35, 35, 99);
}
#c{
    margin-left: 8em;
    color: aliceblue;
    padding: 5em;
  

}
#co{
margin-left: 30em;

    
    color: aliceblue;
}
.slider{

    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
}
.slider .slide-track{
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 38);
}
.slider .slide{

    width: 200px;
}
.slider .slide img{

    width: 100%;
}
@keyframes scroll{
    0%{
       -webkit-transform:translateX(0) ;
       transform:translateX(0) ;
    }
    100%{
        -webkit-transform:translateX(calc(-200px * 19));
        transform:translateX(calc(-200px * 19));
    }
}

#c:hover{

    color: rgb(153, 149, 149);
}
#co:hover{

    color: rgb(153, 149, 149);
}
#Titulo{
    color: aliceblue;
}
#esp{

    margin-top: 0.1em;
    margin-left: 4em;
}
#esp1{

   margin-top: 0.1em;
    margin-left: 5em;
}
#esp2{

   
    margin-left: 2.5em;
}
.form{
    background-color:rgb(212, 209, 209);
    width: 60em;
    height: 70em;
    justify-content: center;
    margin-left: 12em;
}


#contactanos{

   padding: 3em;
    margin-left: 5em;
}
label{
    margin-right: 1em;
    margin-left: 13em;
    
}
#nombre{
    margin-left: 5em;
}

#margen{
    margin-left: 5em;
}
#email{
    margin-left: 6.3em;
    

}
#input{
    width: 20em;
}
textarea{

    margin-left: 10em;
    width: 40em;
    height: 20em;
}
#cuadro{
    margin-top: -4em;
    margin-left: 10em;
    width: 40em;
    height: 25em;
    border-style: solid;
    border-color: black;
    border: 1px,1px;
}
#enviar{

    margin-left: 20em;
    background-color: rgb(180, 236, 236);
    width: 20em;
    border-radius: 5px;
}
#servicios{
    width: 83.7em;
}
.blanco{
    height: 200em;
margin-top: -50em;
text-align: center;
}

.verde{
    padding: 1em;
    margin-left: 10em;
    width: 50em;
    height: 5em;
    background-color: rgb(35, 161, 10);
    opacity: 0.8;
    color: aliceblue;
    border-radius: 30px;
   
}
#amarillo{

    background-color: rgb(221, 191, 20);
}
#naranja{
    background-color: rgb(255, 165, 0);
}
#rojo{
    background-color: rgb(216, 45, 45);
}

.transparente{

    width: 40em;
    height: 10em;
    opacity: 0.6;
    margin-left: 10em;
    background-color: black;
    justify-content: center;
    border-radius: 10px;
}
.servicios{

 margin-left: 1em;
 padding: 1em;
}
.m{

    margin-left: 6em;
    margin-right: 6em;
}
li{
    
    margin-left: 6em;
    margin-right: 6em;
    list-style: none;
}
#Titulo{
    margin-top: 5em;
}

#icono{

    margin-top: -6em;
    margin-left: 31em;
    display: none;
}
nav{
margin-top: 0em;
    width: 83.75em;
    height: 2em;
    display: flex;
    background-color: black;
}
.menu{

    margin-left: 13em;
    text-decoration: none;
    color: aliceblue;
   font-size: 20px;
}
#contactanos2{
  padding: 1em;
   margin-left: 6em;
}
@media(max-width: 1200px) {
  
  }
  @media(max-width: 992px) {
    #inspectora{
        width: 88em;
        margin-left: 0em;
       }
       .logo{
        margin-top: 0em;
        width: 30em;
        height: 20em;
       }
   
       .elementos{
        width: 58em;
        height: 20em;
        margin-top: -21.5em;
        margin-left: 30em;
    }
    #servicios{
        width: 88em;
    }
    .slider{
        width: 88em;
    }
    nav{
        width: 88em;
        height: 4em;
    }
    .menu{

        font-size: 35px;
        margin-left: 5em;
    }
    .white{
        width: 70em;
        height: 150em;
    }
    h1{

        font-size: 48px;
    }
    p{
        font-size: 40px;
    }
    li{
        font-size: 40px;
    }
    .tiserv{
        font-size: 40px;
    }
    #tit{
        width: 20em;
        font-size: 40px;
        margin-left: 2em;
    }
    #empresas{
        width: 70em;
    }
    label{

        font-size: 30px;
    }
    input{

        width: 40em;
        height: 2.5em;
    }
    #email{
        margin-left: 5em;
    }
    textarea{
        width: 20em;
        margin-left: 5em;
        height: 10em;
    }
    #enviar{


        margin-left: 5em;
    }
    .pie{
        width: 88em;
    }
    .blanco{
height: 400em;
        
    }
    .form{
        width: 70em;
    }

  }
  @media(max-width: 768px) {
  
    body{
        font-size: 18px;
        
     }
     #inspectora{
        width: 60em;
        margin-left: 0em;
       }
  }
  #b{
    color: aliceblue;
    margin-top: -10em;
    margin-left: 30em;
  }
  
  @media(max-width: 576px) {
    body{
        font-size: 20px;
    }
  
 p{
    font-size: 50px;
 }
  .pie{
    width: 80em;
    height: 40em;
   }
   a{
    font-size: 50px;
    margin-left: 3em;
   display: inline;
   }
   .white{
    width: 60em;
    height: 170em;
    margin-left: 10em;

   }
   h1{
    font-size: 50px;
    margin-top: 2em;
   }
   #titulo{
    font-size: 50px;

   }
 
 
   #inspectora{
    width: 80em;
    height: 60em;
    margin-left: 0em;
    margin-top: 0em;
    
   }
   
   .atencion{
    width: 40em;
    height: 20em;
}

#empresas{

    margin-left: 5em;
    width: 70em;
}


#esp{
    font-size: 40px;
    margin-left: 0em;

}
#esp1{
    width: 20em;
    margin-left: 0em;
}
#esp2{

    margin-left: 0em;
}
.logo{
    margin-top: 0em;

    width: 35em;
    height: 20em;
}
.elementos{
    width: 45em;
    height: 20em;
    margin-left: 35em;
    margin-top: -21.5em;
}
.form{
    width: 80em;
    margin-left: 0em;
    height: 150em;
}
#email{
    margin-left: 5em;
}

textarea{


    width: 25em;
    height: 10em;
    margin-left: 5em;
    margin-top: 2em;
}
label{
    margin-left: 0em;
    
    padding: 1em;
    margin-top: -1em;
}
#enviar{
    margin-left: 8em;
}
#input{
    width: 25em;
   height: 2.5em;
   margin-top: -2em;
}
.slider{
    width: 80em;
}
#barra{
    margin-top: -5em;
   margin-left: -10em;
    width: 10em;
    text-decoration: none;
   
  color: aliceblue;
    font-size: 50px;
}

#barra2{
    width: 25em;
    font-size: 50px;
    margin-left: 5em;
    margin-top: -10em;
}
.contenedor{
     margin-left: 1em;
    color: rgb(245, 245, 248);
    
    }
   
    #contactanos{
        margin-left: 10em;
    }
#co{
margin-left: 10em;
    font-size: 50px;
}
#c{

    font-size: 50px;
}

h3{
    margin-top: 7em;
    font-size: 50px;
    width: 20em;
    padding: 3em;
    margin-left: 7em;
}
h2{
    width: 20em;
    font-size: 40px;
    margin-top: -10em;
}
#esp2{
    font-size: 50px;
}
.tiserv{
    font-size: 80px;
    margin-top: 1em;
    margin-left: -4em;
  
}
li{
    font-size: 50px;
    margin-left: 3em;
    margin-right: 3em;
    list-style: none;
}
#servicios{

    width: 80em;

}
#Titulo{
    margin-top: 9em;
}
#icono{

    display: block;
}
.verde{

    height: 15em;
    justify-content: center;
}
.blanco{

   height: 580em;
}
.subir{
    width: 80em;
    display: flex;
    background-color: black;
    margin-top: -50em;
    margin-left: 0em;



}
nav{
margin-top: 0em;
    width: 80em;
    height: 4em;
    background-color: black;
}
.menu{

    font-size: 50px;
    margin-left: 4em;
    margin-top: -2em;
}




  }